[user]
  name = Aaron Carson
  email = aaron@aaroncarson.co.uk

{{- if (env "WORK_LAPTOP" | eq "true") }}
[includeIf "gitdir:~/src/github.com/monzo/**"]
  path = ~/.monzo.gitconfig
{{- end}}

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[push]
  default = current

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

