[user]
  name = Aaron Carson
  {{- if (env "WORK_LAPTOP" | ne "true") }}
  email = aaron@aaroncarson.co.uk
  {{- else if (env "WORK_LAPTOP" | eq "true") }}
  email = aaroncarson@monzo.com

[includeIf "gitdir:~/src/github.com/monzo/**"]
  path = ~/.monzo.gitconfig
{{- end}}

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[push]
  default = current

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

{{ if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{ end }}
