{{- if (env "DO_NOT_RUN_INSTALL_SCRIPT" | ne "true") }}
{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
{{- if (env "WORK_LAPTOP" | eq "true") }}
gpg-connect-agent --quiet /bye
SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export SSH_AUTH_SOCK
{{- end}}
which -s brew
if [[ $? != 0 ]] ; then
    # Install Homebrew
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    brew update
fi
/opt/homebrew/bin/brew bundle --no-lock --file=/dev/stdin <<EOF
tap "caraar12345/tap"
tap "cloudflare/cloudflare"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "jorgelbg/tap"
tap "mistertea/et"
tap "sass/sass"
tap "teamookla/speedtest"
tap "twilio/brew"
tap "yt-dlp/taps"
brew "act"
brew "glib"
brew "pkg-config"
brew "python@3.9"
brew "harfbuzz"
brew "pango"
brew "librsvg"
brew "adwaita-icon-theme"
brew "python@3.11"
brew "afflib"
brew "ant"
brew "arduino-cli"
brew "atk"
brew "automake"
brew "python@3.10"
brew "aws-shell"
brew "awscli", link: false
brew "gmp"
brew "numpy", link: false
brew "tcl-tk"
brew "pillow", link: false
brew "binwalk"
brew "black"
brew "boost"
brew "caddy"
brew "certbot"
brew "chezmoi"
brew "ciphey"
brew "cmake"
brew "ruby"
brew "cocoapods"
brew "coreutils"
brew "openldap"
brew "curl"
brew "direnv"
brew "dnscontrol"
brew "docker-compose"
brew "fail2ban"
brew "fd"
brew "fdk-aac"
brew "libtool"
brew "unbound"
brew "gnutls"
brew "lame"
brew "libarchive"
brew "libass"
brew "libvorbis"
brew "opus"
brew "libvpx"
brew "srt"
brew "theora"
brew "x264"
brew "x265"
brew "xvid"
brew "ffmpeg"
brew "ffmpeg@4"
brew "flarectl"
brew "fnm"
brew "gh"
brew "git"
brew "git-lfs"
brew "gsettings-desktop-schemas"
brew "glib-networking"
brew "glow"
brew "go"
brew "go@1.17"
brew "go@1.18"
brew "gobject-introspection"
brew "gobuster"
brew "goenv"
brew "grafana"
brew "graphviz"
brew "grep"
brew "groonga"
brew "gstreamer"
brew "gst-plugins-base"
brew "gst-libav"
brew "libnice"
brew "gst-plugins-bad"
brew "gtk+3"
brew "libpsl"
brew "libsoup"
brew "gst-plugins-good"
brew "gst-plugins-ugly"
brew "libgcrypt"
brew "gtk-vnc"
brew "gtksourceview4"
brew "hashpump"
brew "helm"
brew "highlight"
brew "htop"
brew "httpie"
brew "hugo"
brew "shared-mime-info"
brew "libheif"
brew "imagemagick"
brew "influxdb-cli"
brew "iperf3"
brew "iproute2mac"
brew "pygments"
brew "ipython", link: false
brew "isort"
brew "john"
brew "jq"
brew "jsonschema", link: false
brew "node"
brew "pandoc"
brew "jupyterlab", link: false
brew "kompose"
brew "krb5"
brew "ldns"
brew "libewf"
brew "libfido2"
brew "openssl@3"
brew "libp11"
brew "libpq"
brew "librtlsdr"
brew "libvirt"
brew "libxml2"
brew "lsusb"
brew "luajit"
brew "macchina"
brew "make"
brew "mariadb"
brew "markdown"
brew "meson"
brew "minio-mc"
brew "mitmproxy"
brew "moreutils", link: false
brew "mosh", args: ["HEAD"]
brew "name-that-hash"
brew "nasm"
brew "ncdu"
brew "neofetch"
brew "neovim"
brew "nghttp2"
brew "nmap"
brew "nvm"
brew "opensc"
brew "openssh"
brew "parallel"
brew "pinentry-mac"
brew "pipenv"
brew "pkcs11-helper"
brew "pkcs11-tools"
brew "pre-commit"
brew "prettyping"
brew "py3cairo"
brew "pyenv"
brew "pyenv-virtualenv"
brew "pygobject3"
brew "pylint"
brew "python-tk@3.10"
brew "python-tk@3.9"
brew "pywhat"
brew "qrencode"
brew "rbenv"
brew "rclone"
brew "rhash"
brew "ripgrep"
brew "rustup-init"
brew "sdl12-compat"
brew "semgrep"
brew "sevenzip"
brew "sha3sum"
brew "shtool"
brew "socat"
brew "sox"
brew "step"
brew "subversion"
brew "swig"
brew "task"
brew "telnet"
brew "testdisk"
brew "texi2html"
brew "tfenv"
brew "the_silver_searcher"
brew "tidy-html5"
brew "ufraw"
brew "vala"
brew "vale"
brew "vault"
brew "vte3"
brew "watch"
brew "websocat"
brew "wget"
brew "woff2"
brew "yarn"
brew "ykman"
brew "yq"
brew "zbar"
brew "zsh"
brew "cloudflare/cloudflare/cloudflared"
brew "mistertea/et/et"
brew "sass/sass/sass"
brew "teamookla/speedtest/speedtest"
brew "twilio/brew/twilio"
brew "yt-dlp/taps/yt-dlp"
cask "1password"
cask "1password-cli"
cask "balenaetcher"
cask "discord"
cask "docker"
cask "font-fantasque-sans-mono-nerd-font"
cask "font-ibm-plex-mono"
cask "font-ibm-plex-sans"
cask "font-ibm-plex-serif"
cask "font-iosevka"
cask "font-iosevka-nerd-font"
cask "font-open-sans"
cask "github"
cask "google-chrome"
cask "google-drive"
cask "google-cloud-sdk"
cask "gpg-suite-no-mail"
cask "iina"
cask "iterm2"
cask "jetbrains-toolbox"
cask "little-snitch"
cask "macfuse"
cask "mattermost"
cask "meetingbar"
cask "messenger"
cask "microsoft-office"
cask "microsoft-remote-desktop"
cask "mqtt-explorer"
cask "notion"
cask "reflector"
cask "rocket"
cask "secretive"
cask "setapp"
cask "signal"
cask "spotify"
cask "steam"
cask "syntax-highlight"
cask "teamviewer"
cask "telegram"
cask "transmission"
cask "unified-remote"
cask "visual-studio-code"
cask "vlc"
EOF

defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "$HOME/.iterm2"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true

if [ -d "~/.local/share/nvim/site/pack/packer/start/packer.nvim" ]
then  git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi 

{{ end -}}
{{ end -}}
