{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
{{- if (env "WORK_LAPTOP" | eq "true") }}
gpg-connect-agent --quiet /bye
SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export SSH_AUTH_SOCK
{{- end}}
which -s brew
if [[ $? != 0 ]] ; then
    # Install Homebrew
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    brew update
fi
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "jorgelbg/tap"
tap "teamookla/speedtest"
tap "yt-dlp/taps"
brew "act"
brew "python@3.10"
brew "afflib"
brew "ant"
brew "apr-util"
brew "automake"
brew "awscli"
brew "glib"
brew "pkg-config"
brew "python@3.9"
brew "gmp"
brew "harfbuzz"
brew "gobject-introspection"
brew "pillow", link: false
brew "binwalk"
brew "chezmoi"
brew "ciphey"
brew "cmake"
brew "cocoapods"
brew "coreutils"
brew "openldap"
brew "curl"
brew "fd"
brew "unbound"
brew "gnutls"
brew "tesseract"
brew "ffmpeg"
brew "fnm"
brew "gh"
brew "git"
brew "git-lfs"
brew "glow"
brew "go@1.17"
brew "go@1.18"
brew "grep"
brew "httpie"
brew "iperf3"
brew "ipython"
brew "jq"
brew "node"
brew "pandoc"
brew "jupyterlab"
brew "kubectl@1.12", link: false
brew "ldns"
brew "libfido2"
brew "luajit", args: ["HEAD"]
brew "markdown"
brew "name-that-hash"
brew "ncdu"
brew "neofetch"
brew "neovim"
brew "nghttp2"
brew "nvm"
brew "openssh"
brew "openssl@3"
brew "pango"
brew "parallel"
brew "pinentry-mac"
brew "pre-commit"
brew "pyenv"
brew "pyenv-virtualenv"
brew "pywhat"
brew "rbenv"
brew "ripgrep"
brew "rustup-init"
brew "semgrep"
brew "sevenzip"
brew "subversion"
brew "swig"
brew "task"
brew "telnet"
brew "tfenv"
brew "the_silver_searcher"
brew "tidy-html5"
brew "vale"
brew "vault"
brew "watch"
brew "wget"
brew "yarn"
brew "ykman"
brew "yq"
brew "zsh"
brew "hashicorp/tap/terraform-ls"
brew "teamookla/speedtest/speedtest"
brew "yt-dlp/taps/yt-dlp"
cask "1password-cli"
cask "basictex"
cask "coconutbattery"
cask "font-fantasque-sans-mono-nerd-font"
cask "font-ibm-plex-mono"
cask "font-ibm-plex-sans"
cask "font-ibm-plex-serif"
cask "font-iosevka"
cask "font-iosevka-nerd-font"
cask "font-open-sans"
cask "google-cloud-sdk"
cask "gpg-suite-no-mail"
cask "iterm2"
cask "macfuse"
cask "secretive"
cask "spotify"
cask "vagrant"
cask "visual-studio-code"
cask "vlc"
cask "yubico-yubikey-manager"
EOF

defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "$HOME/.iterm2"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true

if [ -d "~/.local/share/nvim/site/pack/packer/start/packer.nvim" ]
then  git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi 

{{ end -}}
