vim.opt.number = true
vim.opt.expandtab = true
vim.opt.tabstop = 2
vim.opt.softtabstop = 2
vim.opt.shiftwidth = 2

vim.opt.termguicolors = true
vim.opt.clipboard = {"unnamed","unnamedplus"}

vim.cmd [[
  highlight Comment cterm=italic gui=italic
  autocmd BufWritePost /Users/aaroncarson/src/github.com/monzo/detection-rules/*.yml !sigmafmt -w <afile>
]]

{{- if (env "WORK_LAPTOP" | eq "true") }}
require 'monzo_config.lspconfig'
require 'monzo_config.cmp'
require 'monzo_config.vale'
{{- end }}

require('feline').setup()
