require('packer').startup(function(use)
  use { "wbthomason/packer.nvim" }
  use { 'hrsh7th/cmp-nvim-lsp' }
  use { 'neovim/nvim-lspconfig' }
  use { 'nvim-lua/completion-nvim' }
  use { 'nvim-lua/plenary.nvim' }
  use { 'nvim-telescope/telescope.nvim' }
  use { 'nvim-tree/nvim-web-devicons' }
  use { 'nvim-tree/nvim-tree.lua', requires = 'nvim-web-devicons' }
  use { 'nvim-treesitter/nvim-treesitter', run = ':TSUpdate' }
  use { 'hrsh7th/nvim-cmp' }
  use { 'jose-elias-alvarez/null-ls.nvim' }
  use { 'dcampos/nvim-snippy' }
  use { 'honza/vim-snippets' }
  use { 'feline-nvim/feline.nvim' }
  use { 'petertriho/cmp-git', requires = 'nvim-lua/plenary.nvim' }
  use { 'romgrk/barbar.nvim', wants = 'nvim-web-devicons' }
  use { 'averms/black-nvim', run = ':UpdateRemotePlugins' }  
  use { 'shaunsingh/nord.nvim' }                         
  use {
     "folke/which-key.nvim",
     config = function()
     vim.o.timeout = true
     vim.o.timeoutlen = 300
     require("which-key").setup {}
  end
  }
  use { 'andweeb/presence.nvim' }
  {{- if env "WORK_LAPTOP" | eq "true" }}
  use { '~/src/github.com/monzo/wearedev/tools/editors/nvim/nvim-monzo' }
  {{- end }}
end)
